#set($pageTitle="测试")
#set($pagePath="/index")

<!DOCTYPE html>
<html>
<head>
  #parse("/app/common/mods/page-head/index.vm")
</head>
  <div class="test">$!{desc}</div>
  <p style="color: red">css is not onload!!!</p>
  #parse("/app/common/mods/page-scripts/index.vm")
</html>